{% extends "base.html" %}  {% block content%}

<h1>Welcome to InvestSense</h1>
<div class="row">
    <div class="col-12">

        
        <h2>Current list</h2>
        <ul>
            {% for holding in list %}
                <div class="list">
                    
                    <h1 align = "center"> {{ holding }}</h1>
                    <p>Some Random Text</p>
                </div>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12">
       
        <h2>Recent Transactions</h2>
        <ul>
           
            {% for transaction in list %}
            <div class="row list">
                <div class = "col-3">
                <h1 align = "center"> {{ transaction }}</h1>
            </div>
             </div>
            {% endfor %}
        
        </ul>
    
    </div>
</div>
{% endblock %}